<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/borrachet.png" />

	<title> Borrachet</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrapGrid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

	<%- include("./partials/header.ejs") %>
	<!-- product detail -->
	<div class="container productsWrapper">
		<div class="d-flex alignItemsCenter">
			<h2 class="productsTitle">Nombre del producto</h2> 
			<p class="productDetailDescription">
				<a href="/products/add">Editar</a>
			</p>
		</div>
		<div class="productDetail">
			<div class="row">
				<article class="col-12 col-lg-8 productDetailInfo">
					<img src="/images/products/defaultImage.png" alt="" class="productDetailImg">
					<p class="productDetailDescription">
						Descripción corta del producto. En la página principal solo se ven 2 líneas de estar descripción.Lorem ipsum dolor,
						sit amet consectetur adipisicing elit. Tae ipsam amet eum, totam dolore libero illo unde? Consectetur dolorem neque
						veritatis.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt=""> <!-- quedo sin cambiar-->
							<div class="data">
								<p class="user">
								<strong> <a href="profile.ejs">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">  <!-- quedo sin cambiar-->
							<div class="data">
								<p class="user">
									<strong> <a href="profile.ejs">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt=""> <!-- quedo sin cambiar-->
							<div class="data">
								<p class="user">
									<strong> <a href="profile.ejs">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt=""> <!-- quedo sin cambiar-->
							<div class="data">
								<p class="user">
									<strong> <a href="profile.ejs">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt=""> <!-- quedo sin cambiar-->
							<div class="data">
								<p class="user">
									<strong> <a href="profile.ejs">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="/products" method="GET">
						<input class="formInput" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buyNowButton">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include("./partials/footerLogueado") %>

</body>	
</html>