<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/headerLogueado.ejs") %>

	<!-- Novedades -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> Agregar producto </h2>
			<form action="/users/profile" method="GET">
			<div>
				<label for="imagenName">Imagen del producto</label>
				<input id="imagenName" type="file" name="imagenName" value="" required> </input>
			</div>
			<div>
				<label for="productName">Nombre del producto</label>
				<input id="productName" type="text" name="productName" value="" required> </input>
			</div>
			<div>
				<label for="descriptionProduct">Descripción del producto</label>
				<input id="descriptionProduct" type="text" name="descriptionProduct" value="" required> </input>
			</div>
			<div>
				<button type="submit">Enviar </button>
			</div>

			
			
			</form>


	<!-- footer -->
	<%- include("./partials/footerLogueado") %>
	<!-- /footer -->
</body>

</html>