<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/header.ejs") %>

	<!-- Novedades -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products.. -->
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá van los resultados de búsqueda. <br>
			Eliminen estás líneas y cosntruyan la página de resultados de búsqueda. <br>
			////////////////
			</h2>


	<!-- footer -->
	<%- include("./partials/footerLogueado") %>
	<!-- /footer -->
</body>

</html>